@model List<Pizza>

<body class="bg-warning-subtle">

    <div class="container text-center mt-4">
        <h1 class="fs-3">MENU</h1>
    </div>

    <div class="container bg-warning-subtle shadow-lg rounded border-black">

        <table class="table">

            <thead>

                <tr>
                    <th scope="col">Foto</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Prezzo</th>
                </tr>

            </thead>

            <tbody>

                @foreach(Pizza pizza in Model)
                {
                    <a href="@Url.Action("Pizza", new {id = pizza.Id})">
                        <tr>
                            <!-- <th scope="row">@pizza.Id</th>-->
                        <td>
                            <a class="btn" href="@Url.Action("Dettagli", "Pizza", new { id = pizza.Id })">
                                <img class="img-fluid" src="@pizza.Immagine" alt="Immagine @pizza.Nome" width="250">
                            </a>
                        </td>
                        <td><strong>@pizza.Nome</strong></td>
                            <td>@pizza.Descrizione</td>
                            <td><strong>@pizza.Prezzo €</strong></td>
                        </tr>
                    </a>
                }

            </tbody>

        </table>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</body>